.main-nav nav ul li {
  display: inline-block;
  margin: 0 4px;
}

body {
  margin: 0%;
}

.main-nav nav ul {
  width: 100%;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  list-style: none;
}

.aSearch{
  position: relative;
  flex-grow: 0.5;
}
.aSearch i{
  position: absolute;
  color: black;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  
}
#asearch {
  width: 100%;
  /* max-width: 500px; */
  height: 3em;
  border-radius: 5px;
}

.main-nav-1 {
  background-color: #131921;
  color: white;
}

.main-nav-2 nav ul {
  background-color: #232f3e;
  color: white;
  height: 2em;
}
.main-logo img {
  width: 170px;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  border-right: 1px solid grey;
  padding: 10px;
}

.product{
  box-sizing: border-box;
  margin: 10px;
  max-width: 40%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 10px;
}

.pro-img img{
  width: 100%;
}