* {
	text-align: center;
}

body{

	margin: 0px;
	padding: 0px;
}

.background {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.514)), url('./resources/background-2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	background-size: cover;
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	background-color: rgba(240, 248, 255, 0.832);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	
}
#registrationPassword,
#loginPassword {
	width: 15rem;
	min-height: 1.3rem;
	border-radius: 0.5rem;
	/* border: 2px solid black; */
	border: none;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#registrationPassword:focus,
#loginPassword:focus {
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	outline: none;
}

.submit-button {
	box-shadow: none;
	font-size: 1.3rem;
	/* border: 1px solid black; */
	margin: 1em auto;
	max-width: 10rem;
	border-radius: 0.5em;
	background-color: rgb(255, 255, 255);
	transition: all 0.3s ease-in-out 0s;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.submit-button:hover {
	background-color: lightgreen;
	transform: scale(1.1);
}

.invalid {
	color: rgb(255, 2, 2);
}

.valid {
	color: rgb(49, 155, 49);
}

.valid-registration,
.valid-login,
.invalid-registration,
.invalid-login {
	display: none;
}
