html,
body {
  height: 100%;
  background: black;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.bulbImg {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bulbImg,
.bulbButton {
  z-index: 1;
  margin: 10px;
}
#block {
  position: absolute;
  width: 00%;
  height: 00%;
  z-index: 0;
}
